.board{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
}

.app{
    display: flex;
    justify-content: center;
    align-items: center;

}

.cell{
    height: 100px;
    width: 100px;
    background-color: #fff;
    border: 1px solid #ccc
}